<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Employee Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal('add')">Add Employee <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel id="searchName" name="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
        </form>
    </div>
</nav>

<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar{{employee?.profilePic}}.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{employee?.firstName}} {{employee?.lastName}}</h5>
                        <p class="m-0">{{employee?.job?.id}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-usd float-right"></i>Salary : {{employee?.salary}}</li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{employee?.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phoneNumber}}</li>
                    <li class="list-group-item"><i class="fa fa-calendar-o float-right"></i>Hire date : {{employee?.hireDate}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal('edit', employee)" href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal('delete', employee)" href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="First name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Last name" required>
                    </div>
                    <div class="form-group">
                        <label for="job">Job title</label>
                        <input type="text" ngModel name="job" class="form-control" id="job" placeholder="Job ID title" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone</label>
                        <input type="text" ngModel name="phoneNumber" class="form-control" id="phoneNumber" placeholder="123.123.1234" required>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="text" ngModel name="salary" class="form-control" id="salary" placeholder="Salary" required>
                    </div>
                    <div class="form-group">
                        <label for="hireDate">Hire date</label>
                        <input type="text" ngModel name="hireDate" class="form-control" id="hireDate" placeholder="RRRR-MM-DD" required>
                    </div>

                    <div class="form-group">
                        <label for="profilePic">Profile Picture (1 - 7)</label>
                        <input type="text" ngModel name="profilePic" class="form-control" id="profilePic" placeholder="Profile Picture" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEmployee?.firstName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" ngModel="{{editEmployee?.firstName}}" name="firstName" class="form-control" id="firstName" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" ngModel="{{editEmployee?.lastName}}" name="lastName" class="form-control" id="lastName" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label for="job">Job title</label>
                        <input type="text" ngModel="{{editEmployee?.job?.id}}" name="job" class="form-control" id="job" placeholder="Job ID title">
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone</label>
                        <input type="text" ngModel="{{editEmployee?.phoneNumber}}" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="123.123.1234">
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="text" ngModel="{{editEmployee?.salary}}" name="salary" class="form-control" id="salary" placeholder="Salary">
                    </div>
                    <div class="form-group">
                        <label for="hireDate">Hire date</label>
                        <input type="text" ngModel="{{editEmployee?.hireDate}}" name="hireDate" class="form-control" id="hireDate" placeholder="RRRR-MM-DD">
                    </div>

                    <div class="form-group">
                        <label for="profilePic">Profile Picture (1 - 7)</label>
                        <input type="text" ngModel="{{editEmployee?.profilePic}}" name="profilePic" class="form-control" id="profilePic" placeholder="Profile Picture">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete employee {{deleteEmployee?.firstName}} {{deleteEmployee?.lastName}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteEmloyee(deleteEmployee?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO EMPLOYEES!</h4>
        <p>No Employees were found.</p>
    </div>
</div>